In [28]:
import pandas as pd

# Importing CSV file
dataset = pd.read_csv("jeopardy.csv")

dataset

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
116845,3174,1998-05-21,Jeopardy!,NONFICTION,$500,"This slugger praises the ""Oriole Way"" of teaching baseball in ""The Only Way I Know""","Cal Ripken, Jr."
116846,3174,1998-05-21,Jeopardy!,PIG-OUT,$500,"The Walrus said it was time ""To talk of many things"", about ""why the sea is boiling hot and whether"" this",Pigs have wings
116847,3174,1998-05-21,Jeopardy!,SPORTS,$500,This NFL quarterback is a great-great-great-grandson of Brigham Young,Steve Young
116848,3174,1998-05-21,Jeopardy!,CANADIAN CITIES,$500,This Ontario city's underground walkway system can get you from Eaton Centre to Union Station,Toronto
116849,3174,1998-05-21,Jeopardy!,REPORTERS' QUE,NaN,NaN,NaN

In [ ]:
def word_filter(dataset, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return dataset.loc[dataset[" Question"].apply(filter)]

word_filter(dataset, ["Leap", "Day"])